.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-block: 20px;
  gap: 10px;

  &__link,
  &__link--outermost {
    outline: 1px solid var(--primary-gray-font-color);
    cursor: pointer;
    border-radius: 50px;
    color: var(--primary-font-color);
    text-decoration: none;
    transition: 300ms;

    @media (hover: hover) {

      &:hover,
      &:focus {
        color: var(--primary-background-color);
        background-color: var(--btn-submit-hover);
        outline: none;
        transition: 300ms;

        body[data-color-scheme='dark'] & {
          background-color: var(--btn-submit-dark-hover);
        }
      }
    }

    &--active {
      color: var(--primary-background-color);
      background-color: var(--primary-income-color);
      outline: none;
      box-shadow: 0px 2px 15px rgba(36, 204, 167, 0.6);

      body[data-color-scheme='dark'] & {
        background-color: var(--btn-submit-hover);
      }
    }

    &--disabled {
      color: var(--secondary-gray-font-color);
      outline: 1px solid var(--secondary-gray-font-color);

      body[data-color-scheme='dark'] & {
        outline: 1px solid var(--primary-font-color);
      }

      @media (hover: hover) {

        &:hover,
        &:focus {
          color: var(--secondary-gray-font-color);
          outline: 1px solid var(--secondary-gray-font-color);
          background: none;
          cursor: default;
        }
      }
    }
  }

  &__link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;

    body[data-color-scheme='dark'] & {
      color: var(--primary-background-color);

      &--disabled a {
        color: black;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .pagination {
    justify-content: center;

    &__link--outermost {
      display: none;
    }
  }
}