.auth-form {
    display: flex;
    min-width: 280px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 1;

    &__placeholder {

        &:focus,
        &:focus-visible {
            outline: none;
            border: none;

            body[data-color-scheme='dark'] & {
                outline: none;
                border: none;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        gap: 20px;
    }

    &__field {
        width: 100%;
        height: 35px;
        border-bottom: 1px solid var(--primary-gray-font-color);
        padding-bottom: 5px;
        margin-bottom: 5px;
        position: relative;
        display: flex;
        align-items: center;

        &:focus-within {
            border-bottom: 1px solid var(--secondary-gray-font-color);

            body[data-color-scheme='dark'] & {
                border-bottom: 1px solid var(--primary-background-color);
            }
        }
    }

    &__icon {
        margin-right: 20px;
        margin-left: 10px;

        &--email {
            margin-right: 16px;
        }

        &--person {
            margin-right: 18px;
        }
    }

    &__input {
        width: 100%;
        height: 29px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--primary-font-color);

        &::placeholder {
            color: var(--primary-gray-font-color);
        }
    }

    &__alert {
        position: absolute;
        color: var(--primary-expense-color);
        font-size: 12px;
        max-width: 100%;
        top: 37px;
        left: 50px;
    }
}

@media screen and (min-width: 768px) {
    .auth-form {
        position: relative;
        max-width: 533px;
        border-radius: 20px;
        padding-top: 40px;
        padding-bottom: 62px;
        background-color: var(--primary-background-color);

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color);
        }

        &__field {
            width: 409px;
        }
    }
}