.auth-page__hero-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    gap: 50px;
    padding-top: 60px;
    overflow: hidden;

    &__hero {
      &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 533px;
        z-index: 2;
      }

      &-img {
        width: 260px;
        height: 250px;
      }

      &-title {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        line-height: 45px;
        font-weight: 400;
        padding-right: 50px;

        body[data-color-scheme='dark'] & {
          color: var(--primary-background-color);
        }
      }
    }

    &__form-container {
      width: 533px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .auth-page {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    gap: 0;

    &__hero {
      &-container {
        flex-direction: column;
        width: 100%;
        max-width: 45vw;
      }

      &-img {
        width: 435px;
        height: 420px;
      }
    }

    &__form-container {
      width: 100%;
      height: 100%;
      background-color: var(--login-form-overlay-color);
      backdrop-filter: blur(25px);

      body[data-color-scheme='dark'] & {
        background-color: var(--auth-form-dark-overlay-color);
      }
    }
  }
}