.transaction-form-select,
.search-form-select {
    z-index: 8 !important;

    &-container {
        width: 280px !important;
        min-height: 38px !important;
        z-index: 8 !important;

        @media screen and (min-width: 768px) {
            width: 394px !important;
        }
    }

    &__control {
        position: relative !important;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        border-bottom: 1px solid var(--primary-gray-font-color) !important;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        min-height: 38px !important;
        z-index: 8 !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color) !important;
        }

        &:focus,
        &--is-focused,
        &--menu-is-open {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid var(--primary-font-color) !important;

            body[data-color-scheme='dark'] & {
                border-bottom: 1px solid var(--primary-background-color) !important;
            }
        }
    }

    &__indicators {
        height: 30px !important;
    }

    &__indicator {
        padding-block: 0px !important;
    }

    &__indicator-separator {
        display: none !important;
    }

    &__single-value {
        color: var(--primary-font-color) !important;

        body[data-color-scheme='dark'] & {
            color: var(--secondary-gray-font-color) !important;
        }
    }

    &__input-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    &__value-container {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;

        @media screen and (min-width: 768px) {
            margin-left: 8px !important;
        }
    }

    &__menu {
        margin: 2px 0 0 0 !important;
        background-color: var(--primary-gray-background-color) !important;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        z-index: 8 !important;
        max-width: 395px !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color) !important;
        }

        &-list {
            box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1) !important;
            border-bottom-left-radius: 20px !important;
            border-bottom-right-radius: 20px !important;
            max-height: 500px !important;
        }
    }

    &__option {
        height: 32px !important;
        font-size: 18px !important;
        color: var(--primary-font-color) !important;
        background-color: transparent !important;
        padding-left: 20px !important;
        z-index: 8 !important;

        body[data-color-scheme='dark'] & {
            color: var(--primary-gray-font-color) !important;
        }

        &:last-child {
            border-bottom-left-radius: 20px !important;
            border-bottom-right-radius: 20px !important;
        }

        &:hover,
        &--is-selected {
            background-color: var(--primary-background-color) !important;
            color: var(--primary-expense-color) !important;
            cursor: pointer !important;
            z-index: 8 !important;

            body[data-color-scheme='dark'] & {
                color: var(--primary-expense-color) !important;
                background-color: var(--primary-dark-border-color) !important;
            }
        }

        &--is-selected {
            &::after {
                content: "";
                width: 9px;
                height: 13px;
                border: solid var(--primary-font-color);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                display: inline-block;
                position: absolute;
                right: 15px;

                body[data-color-scheme='dark'] & {
                    border: solid var(--primary-expense-color);
                    border-width: 0 2px 2px 0;
                }
            }
        }
    }
}

.search-form-select {
    &-container {
        min-height: 38px !important;

        @media screen and (min-width: 768px) {
            width: 360px !important;
        }
    }

    &__control {
        min-height: 38px !important;
    }

    &__value-container {
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-bottom: 3px !important;
    }

    &__multi-value {
        margin-left: 0px !important;
        margin-right: 4px !important;
        padding-left: 0px !important;
        border-radius: 20px !important;
        height: 28px !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-border-color) !important;
        }
    }

    &__multi-value__label {
        padding-left: 10px !important;
        padding-right: 2px !important;
        padding-top: 5px !important;
        display: flex !important;
        align-items: baseline !important;

        body[data-color-scheme='dark'] & {
            color: var(--primary-gray-font-color) !important;
        }
    }

    &__multi-value__remove {
        padding-right: 7px !important;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
    }
}

.statistics-tab-select {
    &--is-disabled {
        z-index: 0;
    }

    &-container {
        width: 100% !important;
    }

    &__control {
        position: relative !important;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        border-radius: 30px !important;
        z-index: 0 !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color) !important;
            border: 1px solid var(--primary-dark-border-color) !important;
        }

        &:focus-visible,
        &--is-focused,
        &--menu-is-open {
            border: none !important;
            outline: 2px solid var(--primary-font-color) !important;
            box-shadow: none !important;
            z-index: 8 !important;
        }

        &--is-disabled svg {
            color: var(--secondary-gray-font-color) !important;
            z-index: 6 !important;

            body[data-color-scheme='dark'] & {
                color: var(--primary-dark-border-color) !important;
            }
        }

        &--is-disabled .statistics-tab-select__indicator-separator {
            z-index: 8 !important;

            body[data-color-scheme='dark'] & {
                background-color: var(--primary-dark-border-color) !important;
            }
        }
    }

    &__single-value {
        color: var(--primary-font-color) !important;
        margin-left: 10px !important;
        z-index: 8 !important;

        &--is-disabled {
            z-index: 8 !important;
            color: var(--secondary-gray-font-color) !important;
        }

        body[data-color-scheme='dark'] & {
            color: var(--secondary-gray-font-color) !important;

            &--is-disabled {
                color: var(--primary-dark-border-color) !important;
                z-index: 8 !important;
            }
        }
    }

    &__menu {
        margin: 3px 0 0 0 !important;
        background-color: var(--primary-gray-background-color) !important;
        border-radius: 20px !important;
        box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.3) !important;
        z-index: 100 !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color) !important;
            border: 1px solid var(--primary-dark-border-color) !important;
        }

        &-list {
            border-radius: 20px !important;
            z-index: 100 !important;
        }
    }

    &__option {
        height: 32px !important;
        font-size: 18px !important;
        color: var(--primary-font-color) !important;
        background-color: transparent !important;
        padding-left: 20px !important;
        z-index: 100 !important;

        body[data-color-scheme='dark'] & {
            color: var(--primary-gray-font-color) !important;
        }

        &:hover,
        &--is-selected {
            background-color: var(--primary-background-color) !important;
            color: var(--primary-expense-color) !important;
            cursor: pointer !important;
            z-index: 100 !important;

            body[data-color-scheme='dark'] & {
                color: var(--primary-expense-color) !important;
                background-color: transparent !important;
                z-index: 100 !important;
            }
        }

        &--is-selected {
            &::after {
                content: "";
                width: 9px;
                height: 13px;
                border: solid var(--primary-font-color);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                display: inline-block;
                position: absolute;
                right: 20px;
                z-index: 100 !important;

                body[data-color-scheme='dark'] & {
                    border: solid var(--primary-expense-color);
                    border-width: 0 2px 2px 0;
                    z-index: 100 !important;
                }
            }
        }
    }
}