.transaction-form-select {
    &-container {
        width: 280px !important;

        @media screen and (min-width: 768px) {
            width: 394px !important;
        }
    }

    &__control {
        position: relative !important;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        border-bottom: 1px solid var(--primary-gray-font-color) !important;
        border-radius: 0 !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color) !important;
        }

        &:focus,
        &--is-focused,
        &--menu-is-open {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid var(--primary-font-color) !important;

            body[data-color-scheme='dark'] & {
                border-bottom: 1px solid var(--primary-background-color) !important;
            }
        }
    }

    &__indicator-separator {
        display: none !important;
    }

    &__single-value {
        color: var(--primary-font-color) !important;

        body[data-color-scheme='dark'] & {
            color: var(--secondary-gray-font-color) !important;
        }
    }

    &__menu {
        margin: 2px 0 0 0 !important;
        background-color: var(--primary-gray-background-color) !important;
        border-radius: 20px !important;
        max-height: 360px !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color) !important;
        }

        &-list {
            box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1) !important;
            border-radius: 20px !important;
            max-height: 370px !important;
        }
    }

    &__option {
        height: 32px !important;
        font-size: 18px !important;
        color: var(--primary-font-color) !important;
        background-color: transparent !important;
        padding-left: 20px !important;
        z-index: 2;

        body[data-color-scheme='dark'] & {
            color: var(--primary-gray-font-color) !important;
        }

        &:last-child {
            border-bottom-left-radius: 20px !important;
            border-bottom-right-radius: 20px !important;
        }

        &:hover,
        &--is-selected {
            background-color: var(--primary-background-color) !important;
            color: var(--primary-expense-color) !important;
            cursor: pointer !important;

            body[data-color-scheme='dark'] & {
                color: var(--primary-expense-color) !important;
                background-color: transparent !important;
            }
        }

        &--is-selected {
            &::after {
                content: "";
                width: 9px;
                height: 13px;
                border: solid var(--primary-font-color);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                display: inline-block;
                position: absolute;
                right: 15px;

                body[data-color-scheme='dark'] & {
                    border: solid var(--primary-expense-color);
                    border-width: 0 2px 2px 0;
                }
            }
        }
    }
}

.statistics-tab-select {
    &-container {
        width: 100% !important;

        @media screen and (min-width: 768px) {
            width: 394px !important;
        }
    }

    &__control {
        position: relative !important;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        border-radius: 30px !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color) !important;
            border: 1px solid var(--primary-dark-border-color) !important;
        }

        &:focus-visible,
        &--is-focused,
        &--menu-is-open {
            border: none !important;
            outline: 2px solid var(--primary-font-color) !important;
            box-shadow: none !important;
        }

        &--is-disabled svg {
            color: var(--secondary-gray-font-color) !important;

            body[data-color-scheme='dark'] & {
                color: var(--primary-dark-border-color) !important;
            }
        }

        &--is-disabled .statistics-tab-select__indicator-separator {
            body[data-color-scheme='dark'] & {
                background-color: var(--primary-dark-border-color) !important;
            }
        }
    }

    &__single-value {
        color: var(--primary-font-color) !important;
        margin-left: 10px !important;

        &--is-disabled {
            color: var(--secondary-gray-font-color) !important;
        }

        body[data-color-scheme='dark'] & {
            color: var(--secondary-gray-font-color) !important;

            &--is-disabled {
                color: var(--primary-dark-border-color) !important;
            }
        }
    }

    &__menu {
        margin: 3px 0 0 0 !important;
        background-color: var(--primary-gray-background-color) !important;
        border-radius: 20px !important;
        box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.3) !important;
        min-height: 73px !important;

        body[data-color-scheme='dark'] & {
            background-color: var(--primary-dark-background-color) !important;
            border: 1px solid var(--primary-dark-border-color) !important;
        }

        &-list {
            border-radius: 20px !important;
        }
    }

    &__option {
        height: 32px !important;
        font-size: 18px !important;
        color: var(--primary-font-color) !important;
        background-color: transparent !important;
        padding-left: 20px !important;

        body[data-color-scheme='dark'] & {
            color: var(--primary-gray-font-color) !important;
        }

        &:hover,
        &--is-selected {
            background-color: var(--primary-background-color) !important;
            color: var(--primary-expense-color) !important;
            cursor: pointer !important;

            body[data-color-scheme='dark'] & {
                color: var(--primary-expense-color) !important;
                background-color: transparent !important;
            }
        }

        &--is-selected {
            &::after {
                content: "";
                width: 9px;
                height: 13px;
                border: solid var(--primary-font-color);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                display: inline-block;
                position: absolute;
                right: 20px;

                body[data-color-scheme='dark'] & {
                    border: solid var(--primary-expense-color);
                    border-width: 0 2px 2px 0;
                }
            }
        }
    }
}