.doughnut {
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 380px;

        & canvas {
            z-index: 8;
        }
    }

    &__balance {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        z-index: 8;

        body[data-color-scheme='dark'] & {
            color: var(--primary-gray-font-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .doughnut {
        &__box {
            max-width: 336px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .doughnut {
        &__box {
            width: 288px;
            height: 288px;
        }
    }
}