$iconPen: url("/assets/icon-pen.svg");
$iconClose: url("/assets/icon-close.svg");
$iconExitDoors: url("/assets/icon-exit-doors.svg");

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 50px;
    border-radius: 20px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    background: none;

    @media screen and (min-width: 768px) {
        width: 300px;
    }

    &--submit,
    &--delete,
    &--add,
    &--yes {
        background-color: var(--primary-income-color);
        color: var(--primary-background-color);
        margin-bottom: 12px;

        body[data-color-scheme='dark'] & {
            background-color: var(--btn-submit-hover);

            @media (hover: hover) {

                &:hover,
                &:focus {
                    background-color: var(--btn-submit-dark-hover);
                }
            }

        }

        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }

        &:hover,
        &:focus {
            background-color: var(--btn-submit-hover);
        }
    }

    &--delete {
        text-transform: none;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0em;
        width: 67px;
        height: 26px;
        margin-bottom: 0;

        body[data-color-scheme='dark'] & {
            color: var(--secondary-gray-font-color);
        }
    }

    &--cancel,
    &--no {
        outline: 1px solid var(--household-products-diagram-color);
        color: var(--household-products-diagram-color);
        background-color: var(--primary-background-color);

        body[data-color-scheme='dark'] & {
            background-color: var(--btn-cancel-dark-hover);
            outline: 2px solid transparent;
            color: var(--primary-dark-background-color);

            @media (hover: hover) {

                &:hover,
                &:focus {
                    outline: 2px solid var(--ellipse-bottom-dark-color);
                    color: var(--ellipse-bottom-dark-color);
                }
            }

        }

        @media (hover: hover) {

            &:hover,
            &:focus {
                outline: 1px solid var(--primary-font-color);
                color: var(--primary-font-color);
            }
        }
    }

    &--yes {
        width: 100px;
        height: 40px;
        margin-bottom: 0;
    }

    &--no {
        width: 100px;
        height: 40px;
        margin-bottom: 0;
    }

    &--add {
        font-family: "Roboto";
        letter-spacing: 0;
        line-height: 44px;
        text-align: center;
        width: 44px;
        height: 44px;
        position: fixed;
        bottom: 18px;
        right: 18px;
        font-size: 38px;
        border-radius: 50%;
        z-index: 2;
        margin-bottom: 0;
        box-shadow: 0px 2px 15px rgba(36, 204, 167, 0.5);

        @media screen and (min-width: 1280px) {
            bottom: 40px;
            right: 40px;
        }
    }

    &--edit {
        width: 23px;
        height: 23px;
        margin-right: 4px;

        &:hover::before {
            transform-origin: center;
            transition: 300ms;
            background-color: var(--household-products-diagram-color);

            body[data-color-scheme='dark'] & {
                background-color: var(--household-products-diagram-color);
            }
        }


    }

    &--edit-mobile {
        color: var(--primary-font-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 52px;
        height: 18px;
        font-size: 14px;
        text-transform: none;

        body[data-color-scheme='dark'] & {
            color: var(--primary-gray-font-color);
        }
    }

    &--edit,
    &--edit-mobile {

        &::before {
            content: "";
            mask: $iconPen;
            width: 14px;
            height: 14px;
            background-color: var(--primary-dark-background-color);

            body[data-color-scheme='dark'] & {
                background-color: var(--primary-gray-font-color);
            }
        }
    }

    &--close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        padding-bottom: 2px;

        &::after {
            content: "";
            mask: $iconClose;
            width: 18px;
            height: 18px;
            background-color: var(--primary-dark-background-color);

            body[data-color-scheme='dark'] & {
                background-color: var(--primary-background-color);
            }
        }

        &:hover::after,
        &:focus::after {
            background-color: var(--primary-expense-color);

            body[data-color-scheme='dark'] & {
                background-color: var(--primary-expense-color);
            }
        }
    }

    &--logout {
        width: 18px;
        height: 18px;
        text-transform: none;
        color: var(--primary-gray-font-color);
        margin-left: 5px;

        @media screen and (min-width:768px) {
            width: 80px;
            height: 30px;
        }

        &::before {
            content: "";
            mask: $iconExitDoors;
            width: 18px;
            height: 18px;
            background-color: var(--primary-gray-font-color);
            margin-bottom: 2px;

            @media screen and (min-width:768px) {
                margin-right: 7px;
            }
        }

        @media (hover: hover) {

            &:hover,
            &:focus {
                color: var(--primary-expense-color);
                transition: none;
            }

            &:hover::before,
            &:focus::before {
                background-color: var(--primary-expense-color);
            }
        }
    }
}