.switch {
    margin-inline: 20px;
    width: 86px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__label {
        display: flex;
        position: relative;
        width: 80px;
        height: 40px;
    }

    &__input {
        display: none;
    }

    &__slider {
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
        border: 1px solid var(--secondary-gray-font-color);
        border-radius: 30px;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        transition: 300ms;
    }

    &__slider:before {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        content: "+";
        font-family: "Roboto";
        font-size: 38px;
        letter-spacing: 0;
        color: var(--primary-background-color);
        background-color: var(--primary-income-color);
        box-shadow: 0px 3px 20px 0px rgba(36, 204, 167, 0.5);
        transform: translateX(-1px);
        transition: 300ms;

        body[data-color-scheme='dark'] & {
            background-color: var(--btn-submit-hover);
        }
    }

    &__input:checked+&__slider:before {
        content: "─";
        background-color: var(--primary-expense-color);
        box-shadow: 0px 3px 20px 0px rgba(255, 101, 150, 0.5);
        transform: translateX(36px);

        body[data-color-scheme='dark'] & {
            background-color: var(--ellipse-bottom-dark-color);
        }
    }
}