.statistics {
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 380px;
    padding-bottom: 30px;
  }

  &__doughnut-wrapper {
    width: 100%;
    max-width: 380px;
    margin-bottom: 40px;
  }

  &__title {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;

    body[data-color-scheme='dark'] & {
      color: var(--primary-gray-font-color);
    }
  }

  &__dropdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 336px;
    margin-bottom: 20px;

    // przenieść do react-select scss

    // &-label {
    //   display: flex;
    //   width: 100%;
    //   justify-content: space-around;
    //   align-items: center;
    //   margin-bottom: 20px;

    //   body[data-color-scheme='dark'] & {
    //     color: var(--primary-gray-font-color);
    //   }

    //   &--month {
    //     margin-top: 20px;
    //   }
    // }
  }

  &__legend {
    &-headers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      height: 50px;
      padding: 20px;
      margin-top: 0;
      margin-bottom: 9px;
      border-radius: 30px;
      background-color: var(--primary-background-color);

      body[data-color-scheme='dark'] & {
        color: var(--primary-gray-font-color);
        background-color: var(--primary-dark-background-color);
        border: 1px solid var(--primary-dark-border-color);
      }
    }

    &-item {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 45px;
      align-items: center;
      border-bottom: 1px solid var(--secondary-gray-font-color);
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
      padding-inline: 10px;
      gap: 10px;

      body[data-color-scheme='dark'] & {
        color: var(--primary-gray-font-color);
        border-bottom: 1px solid var(--primary-dark-border-color);
        box-shadow: none;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
      border-radius: 1px;
    }

    &-category {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      width: fit-content;
    }

    &-amount {
      margin-left: auto;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: end;
    }
  }

  &__summary {
    &-list {
      margin-top: 20px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      padding-inline: 10px;

      body[data-color-scheme='dark'] & {
        color: var(--primary-gray-font-color);
      }
    }

    &-type {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;

      &--expense {
        color: var(--primary-expense-color);
        margin-bottom: 10px;
      }

      &--income {
        color: var(--primary-income-color);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .statistics {
    &__container {
      max-width: 728px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      margin: 0;
    }

    &__doughnut-wrapper {
      width: 100%;
      max-width: 380px;
      margin-bottom: 0;
    }

    &__dropdown-wrapper {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 336px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .statistics {
    &__container {
      justify-content: flex-end;
      max-width: 728px;
      position: relative;

      @media screen and (min-width: 1280px) {
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: -40px;
          height: 100%;
          border-left: 1px solid var(--secondary-gray-font-color);
          box-shadow: -1px 0 0 rgba(255, 255, 255, 0.6);

          body[data-color-scheme='dark'] & {
            border-left: none;
            box-shadow: none;
          }
        }
      }
    }

    &__title {
      margin-bottom: 20px;
    }

    &__legend {
      &-item {
        height: 34px;
      }
    }
  }
}