@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
    color: var(--primary-font-color);
    font-family: "Circe", sans-serif, "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

body.modal-open {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul:focus-visible {
    outline: none;
}

li {
    list-style-type: none;
}

button:hover {
    transition: 300ms;
    cursor: pointer;
}

button:focus {
    border: none;
    outline: none;
}

button:focus-visible,
div:focus-visible,
li:focus-visible,
a:focus-visible {
    border: none;
    outline: 2px solid var(--primary-font-color);
    transition: 0s;

    body[data-color-scheme='dark'] & {
        outline: 2px solid var(--secondary-gray-font-color);
    }
}

div:focus-visible {
    border-radius: 4px;
}

input,
textarea {
    border-radius: 0;

    body[data-color-scheme='dark'] & {
        color: var(--primary-background-color) !important;
    }
}