:root {
    --primary-font-color: #000000;
    --primary-gray-font-color: #bdbdbd;
    --secondary-gray-font-color: #e0e0e0;
    --primary-text-shadow-color: #00000040;
    --primary-background-color: #ffffff;
    --secondary-background-color: #e7eaf2;
    --primary-gray-background-color: #f3f3f3f2;
    --backdrop--background-color: #00000040;
    --currency-primary-background-color: #4a56e2;
    --currency-secondary-background-color: #6e78e8;
    --primary-expense-color: #ff6596;
    --primary-income-color: #24cca7;
    --main-expenses-diagram-color: #fed057;
    --products-diagram-color: #ffd8d0;
    --car-diagram-color: #ffd8d0;
    --self-care-diagram-color: #ffd8d0;
    --child-care-diagram-color: #6e78e8;
    --household-products-diagram-color: #4a56e2;
    --education-diagram-color: #81e1ff;
    --other-expenses-diagram-color: #00ad84;
    --btn-submit-hover: #1f8b73;
}