.search-form {
    font-family: "Circe", sans-serif;
    font-size: 18px;
    font-weight: 400;

    body[data-color-scheme='dark'] & {
        color: var(--primary-gray-font-color)
    }

    &__wrapper {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 15px;

        @media screen and (min-width:768px) {
            width: 360px;
        }
    }

    &__radio-group {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 30px;
    }

    &__inputs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__label {
        width: 120px;
    }

    &__date {
        width: 160px;
    }

    &__amount {
        text-align: center;
    }

    &__comment {
        text-align: center;
        margin-bottom: 15px;
    }

    &__amount,
    &__comment {
        width: 160px;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--primary-gray-font-color);
        padding-bottom: 5px;
        background-color: transparent;
    }

    &__amount:focus,
    &__comment:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid var(--primary-font-color);

        body[data-color-scheme='dark'] & {
            border-bottom: 1px solid var(--primary-background-color);
        }
    }

    &__alert {
        position: absolute;
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-align: center;
        color: var(--primary-expense-color);
        max-width: 100%;

        &--amount {
            top: 30px;
            right: 0px;
        }
    }
}