.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 181px;

    &__icon {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    &__title {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: var(--primary-font-color);

        body[data-color-scheme='dark'] & {
            color: var(--secondary-gray-font-color);
        }

        &:focus {
            outline: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .logo {
        &__icon {
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }

        &__title {
            font-size: 30px;
        }
    }
}