.diagram {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 380px;

  &__doughnut {
    width: 100%;
    max-width: 380px;
    max-height: 600px;

    & canvas {
      z-index: 2;
    }

    &-title {
      margin: 0 auto;
      font-size: 30px;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 10px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 380px;
    }

    &-balance {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
      color: #000;
    }
  }

  &__dropdown {
    &-wrapper {
      display: flex;
      width: 100%;
      max-width: 380px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-label {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;

      &--month {
        margin-top: 20px;
      }
    }
  }

  &__legend {
    &-headers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      height: 50px;
      padding: 20px;
      margin-top: 0;
      margin-bottom: 9px;
      border-radius: 30px;
      background-color: var(--primary-background-color);
    }

    &-item {
      position: relative;
      color: #000;
      display: flex;
      justify-content: space-between;
      height: 45px;
      align-items: center;
      border-bottom: 1px solid rgba(220, 220, 223, 1);
      padding-inline: 10px;
    }

    &-icon {
      width: 24px;
      height: 24px;
      border-radius: 1px;
      margin-right: 10px;
    }

    &-category {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
    }

    &-amount {
      margin-left: auto;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
    }
  }

  &__summary {
    &-list {
      margin-top: 20px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      padding-inline: 10px;
    }

    &-type {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;

      &--expense {
        color: var(--primary-expense-color);
        margin-bottom: 10px;
      }

      &--income {
        color: var(--primary-income-color);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .diagram {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;

    &__doughnut {
      &-container {
        width: 100%;
        max-width: 336px;
      }

      &-wrapper {
        width: 100%;
        max-width: 380px;
        height: 336px;
      }
    }

    &__dropdown {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 336px;

      &-wrapper {
        flex-direction: row;
        align-items: flex-start;
      }

      &-label {
        &--year {
          margin-top: 20px;
          margin-left: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {

  .diagram {
    justify-content: flex-end;
    max-width: 775px;
    border-left: 1px solid rgba(231, 229, 242, 1);

    &__doughnut {
      &-wrapper {
        width: 288px;
        height: 288px;
      }

      &-title {
        margin-bottom: 20px;
      }
    }

    &__dropdown {
      &-label {
        margin-top: 0;
      }
    }

    &__legend {
      &-item {
        height: 40px;
      }
    }
  }
}