.transaction-form {
    font-family: "Circe", sans-serif;
    font-size: 18px;
    font-weight: 400;

    &__wrapper {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-bottom: 15px;
    }

    &__inputs {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__react-select {
        position: relative;
    }

    &__amount {
        width: 280px;
        height: 30px;
        border: none;
        padding-left: 12px;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--primary-gray-font-color);
        font-weight: 600;
        background-color: transparent;
        margin-bottom: 30px;

        &::placeholder {
            color: var(--primary-gray-font-color);
        }
    }

    &__comment {
        position: relative;
    }

    &__textarea {
        background-color: transparent;
        overflow-wrap: break-word;
        width: 280px;
        height: 84px;
        border: none;
        padding-left: 12px;
        padding-bottom: 50px;
        border-bottom: 1px solid var(--primary-gray-font-color);
        resize: none;
        overflow: hidden;

        &::placeholder {
            color: var(--primary-gray-font-color);
        }
    }

    &__alert {
        position: absolute;
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-align: center;
        color: var(--primary-expense-color);
        max-width: 100%;
        word-wrap: break-word;

        &--category {
            top: 42px;
            left: 8px;
        }

        &--amount {
            top: 32px;
            left: 8px;
        }

        &--date {
            top: 90px;
            left: 8px;
        }

        &--comment {
            top: 88px;
            left: 8px;
        }
    }

    &__amount:focus,
    &__textarea:focus {
        outline: none;
        border-bottom: 1px solid var(--primary-font-color);

        body[data-color-scheme='dark'] & {
            border-bottom: 1px solid var(--primary-background-color);
        }
    }
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    padding-block: 30px;
    color: var(--primary-gray-font-color);
    font-size: 16px;
    font-weight: 600;

    body[data-color-scheme='dark'] & {
        color: var(--primary-dark-border-color);
    }

    &__span {
        &--income {
            color: var(--primary-income-color);

            body[data-color-scheme='dark'] & {
                color: var(--btn-submit-hover);
            }
        }

        &--expense {
            color: var(--primary-expense-color);

            body[data-color-scheme='dark'] & {
                color: var(--ellipse-bottom-dark-color);
            }
        }
    }

    &__slash {
        margin-inline: 12px;
    }
}

@media screen and (min-width: 768px) {
    .transaction-form {
        &__wrapper {
            width: 394px;
        }

        &__inputs {
            flex-direction: row;
            width: 394px;
            gap: 30px;
        }

        &__amount {
            width: 190px;
            padding-left: 0;
            text-align: center;
            margin-bottom: 0;
        }

        &__textarea {
            width: 394px;
            height: 32px;
            padding-bottom: 5px;
            overflow-wrap: none;
        }

        &__alert {
            width: max-content;

            &--category {
                top: 32px;
                left: 12px;
            }

            &--amount {
                top: 32px;
                left: 38px;
            }

            &--date {
                top: 32px;
                left: 250px;
            }

            &--comment {
                top: 36px;
                left: 65px;
            }
        }
    }
}