.transaction-form {
    font-family: "Circe", sans-serif;
    font-size: 18px;
    font-weight: 400;

    &__wrapper {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__inputs {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        word-wrap: break-word;
    }

    &__amount {
        width: 280px;
        border: none;
        padding-left: 12px;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--primary-gray-font-color);
        font-weight: 600;
        background-color: transparent;

        &::placeholder {
            color: var(--primary-gray-font-color);
        }
    }

    &__comment {
        position: relative;
    }

    &__textarea {
        background-color: transparent;
        overflow-wrap: break-word;
        width: 280px;
        height: 84px;
        border: none;
        padding-left: 12px;
        padding-bottom: 50px;
        border-bottom: 1px solid var(--primary-gray-font-color);
        resize: none;
        overflow: hidden;

        &::placeholder {
            color: var(--primary-gray-font-color);
        }
    }

    &__alert {
        position: absolute;
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-align: center;
        color: var(--primary-expense-color);
        max-width: 100%;

        &--category {
            top: 42px;
            left: 8px;
        }

        &--amount {
            top: 32px;
            left: 8px;
        }

        &--date {
            top: 90px;
            left: 8px;
        }

        &--comment {
            top: 88px;
            left: 8px;
        }
    }

    &__amount:focus,
    &__textarea:focus {
        outline: none;
        border-bottom: 1px solid var(--primary-font-color);
    }
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    padding-block: 30px;
    color: var(--secondary-gray-font-color);
    font-size: 16px;
    font-weight: 600;

    &__span {
        &--income {
            color: var(--primary-income-color);
        }

        &--expense {
            color: var(--primary-expense-color);
        }
    }

    &__slash {
        margin-inline: 12px;
    }
}

.react-select {
    position: relative;

    &-container {
        width: 280px !important;

        @media screen and (min-width: 768px) {
            width: 394px !important;
        }
    }

    &__control {
        position: relative;
        cursor: pointer !important;
        border: none !important;
        outline: none !important;
        border-bottom: 1px solid var(--primary-gray-font-color) !important;
        border-radius: 0 !important;

        &:focus,
        &--is-focused,
        &--menu-is-open {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid var(--primary-font-color) !important;
        }
    }

    &__indicator-separator {
        display: none !important;
    }

    &__menu {
        margin: 2px 0 0 0 !important;
        background-color: var(--primary-gray-background-color) !important;
        border-radius: 20px !important;
        height: 328px !important;

        &-list {
            box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1) !important;
            border-radius: 20px !important;
            min-height: 328px !important;
        }
    }

    &__option {
        height: 32px !important;
        font-size: 18px !important;
        color: var(--primary-font-color) !important;
        background-color: transparent !important;

        &:hover,
        &--is-selected,
        &--is-focused {
            background-color: var(--primary-background-color) !important;
            color: var(--primary-expense-color) !important;
            cursor: pointer !important;
        }

        &--is-selected {
            &::after {
                content: "";
                width: 9px;
                height: 13px;
                border: solid var(--primary-font-color);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                display: inline-block;
                position: absolute;
                right: 15px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .transaction-form {
        &__wrapper {
            width: 394px;
            font-size: 18px;
        }

        &__inputs {
            flex-direction: row;
            width: 394px
        }

        &__amount {
            width: 190px;
            padding-left: 0;
            text-align: center;
        }

        &__textarea {
            width: 394px;
            height: 32px;
            padding-bottom: 5px;
            overflow-wrap: none;
        }

        &__alert {
            width: max-content;

            &--category {
                top: 41px;
                left: 12px;
            }

            &--amount {
                top: 32px;
                left: 38px;
            }

            &--date {
                top: 32px;
                left: 200px;
            }

            &--comment {
                top: 36px;
                left: 65px;
            }
        }
    }
}