.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-inline: 10px;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--primary-background-color);
  z-index: 3;
  position: relative;

  body[data-color-scheme='dark'] & {
    background-color: var(--primary-dark-background-color);
    border-bottom: 1px solid var(--primary-dark-border-color);
  }

  @media screen and (min-width: 768px) {
    height: 76px;
    padding-inline: 50px;
    border: none;

    body[data-color-scheme='dark'] & {
      border: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-gray-font-color);

    &-user {
      display: inline;
      font-family: "Circe", sans-serif;
      font-size: 18px;
      margin: 0;
      line-height: 27px;
      padding-right: 5px;
      border-right: 1px solid var(--primary-gray-font-color);

      @media screen and (min-width: 768px) {
        padding-right: 15px;
      }
    }
  }
}