.currency {
  &__container {
    width: 100%;
    max-width: 336px;
    height: 347px;
    background: url(/assets/background-currency.svg) center bottom no-repeat;
    background-color: var(--household-products-diagram-color);
    background-size: contain;
    color: var(--primary-background-color);
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    body[data-color-scheme='dark'] & {
      background-color: var(--primary-dark-background-color);
      color: var(--primary-gray-font-color);
      border: 1px solid var(--primary-dark-border-color);
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__head {
    width: 100%;
    max-width: 336px;
    height: 50px;
    background-color: var(--child-care-diagram-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    body[data-color-scheme='dark'] & {
      background-color: rgba(67, 67, 67, 0.4);
      color: var(--secondary-gray-font-color)
    }

    &-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 50px;
      padding-left: 5px;
      padding-right: 10px;
    }
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-row:first-child {
      margin-top: 5px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &-icon {
      font-size: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .currency {
    &__container {
      max-width: 336px;
      max-height: 182px;
      border: none;

      body[data-color-scheme='dark'] & {
        border: none;
      }
    }

    &__table {
      max-height: 182px;
    }

    &__head {
      width: 100%;
      max-width: 336px;
    }

    &__body-row {
      padding-left: 10px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .currency {
    &__container {
      max-width: 393px;
      min-height: 320px;
    }

    &__table,
    &__head,
    &__body {
      max-width: 393px;
    }

    &__table {
      min-height: 331px;
    }

    &__item {
      height: 36px;
    }
  }
}