.balance {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  border-radius: 30px;
  padding: 8px 10px 8px 35px;
  width: 100%;
  max-width: 380px;
  height: 80px;
  margin-bottom: 20px;

  body[data-color-scheme='dark'] & {
    background-color: var(--primary-dark-background-color);

    @media screen and (max-width: 767px) {
      border: 1px solid var(--primary-dark-border-color);
    }
  }

  @media screen and (min-width: 768px) {
    min-width: 336px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 395px;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 8px 10px 8px 40px;
  }

  &__title {
    color: var(--primary-gray-font-color);
    font-family: "Circe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__amount {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }

    body[data-color-scheme='dark'] & {
      color: var(--secondary-gray-font-color);
    }
  }
}