.balance {
  background-color: var(--primary-background-color);
  border-radius: 30px;
  padding: 8px 32px;
  width: 100%;
  max-width: 380px;
  height: 80px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    min-width: 336px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 395px;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  &__title {
    color: var(--primary-gray-font-color);
    font-family: "Circe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    padding-left: 15px;
  }

  &__amount {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    margin-right: 10px;
  }
}